

<html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title>uploaded successfully</title>
	</head>
	<body>
		<center>
			<h1>Secret Key for Secure file transfer using Diffie-Hellman protocol</h1><br>
			<b><p style="color:green; font-size:30px">{{key}}</p></b>
			<table>
				<tr>

					<td><a href='/'><button class="btn btn-lg btn-info">Back to HOME</button></a></td>
				</tr>
			</table>
			<br>
			
		</center>
	</body>
</html>